{% extends "common.html" %}

    {% block content %}



    <div>
        <form action="" method="post" class="col-md-4 container border my-3 p-3">

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger ">{{ message }}</div>
                    {% else %}
                         <div class="alert alert-info ">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            <h4>Log stock {{ product.name }}</h4>
            {{ form }}
            <button class="btn btn-primary">submit</button>
        </form>
    </div>
    
    {% endblock content %}
